body {
  margin: 0;
  background-color :#ff6767;
  font-family: 'Times New Roman', Times, serif;
}

.App {
  text-align: center;
}

.posts {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.title-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.title-list__item{
  color: black;
  background-color: #ff6767;
  padding: 15px;
  margin: 0px;
}

.min {
  border-bottom-style: solid;
  border-bottom-width: 2px;
  font-size: 16pt;
}

.content{
  width: 130vw;
  background-color:#ffffff;
}

img {
  width: 200px;
  height: 200px;
}